/* FeedbackForm.css */
.feedback-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.feedback-popup {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.feedback-popup h2 {
    text-align: center;
}

.feedback-popup form {
    display: flex;
    flex-direction: column;
}

.feedback-popup div {
    margin-bottom: 10px;
}

.feedback-popup label {
    font-weight: bold;
}

.feedback-popup input[type="text"],
.feedback-popup textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.feedback-popup .form-buttons {
    display: flex;
    justify-content: space-between;
}

.feedback-popup button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.feedback-popup button:hover {
    background-color: #0056b3;
}
@media screen and (max-width:660px){
    .feedback
    -popup{
        max-width:80vw;
    }
}